<!--  le header vient du controller news (common....) -->

 <!-- ceci est un echo $data['header]; -->
{{ header }}
<div id="information-information" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <!-- configuration de la page avec 12 collonne  -->
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
     <!-- ligne 23 et 231  ne sont pas par default -->
      <h1>{{ heading_title }}</h1>
     <table class="mx-auto" style="width: 250px;"> 
     <th>Title</th>
     <th>Author</th>
     <tr>
        <td> {{news.title}} </td>
        <td> {{news.author}} </td>
     </tr>
     </table>

    <form method="POST">
      <fieldset>
        <legend>Confirmer supression ?</legend>
        <button name="confirmation" value="oui">oui</button>
        <button name="confirmation" value="non">non</button>
      </fieldset>
    </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}